* {
	vertical-align: baseline;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: none;
	padding: 0;
	margin: 0;
  font-family: 'VT323', monospace;
	}

body {
	padding: 5px;
	}

li, dd, blockquote {
	margin-left: 40px;
	list-style: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
	}

#root {
	width: 100%;
}
.info-modal header {
	display: flex;
	justify-content: space-between;
}
.info-modal a {
	font-size: 20px;
	line-height: 20px;
	color: red;
}
.err {
	color: red;
}
