.navigation-container a {
  margin-left: 30px;
  font-size: 2em;
  color: black;
  cursor: pointer; }

.navigation-container a:hover {
  color: white;
  background-color: black;
  transform: scale(1.1);
  transition: 0.5s; }
