.chillFBImg {
  background-image: url(../img/chill.png); }

.startTalk {
  margin: 0 auto;
  padding-top: 50px;
  width: 30%;
  height: 400px;
  background-image: url(../img/face.gif);
  background-repeat: no-repeat;
  background-size: contain; }

.stopTalk {
  margin: 0 auto;
  padding-top: 50px;
  width: 30%;
  height: 400px;
  background-image: url(../img/faceStop.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.question-enter {
  transform: translateX(100%); }

.question-enter.question-enter-active {
  transform: translateX(0);
  transition: transform 3s ease-out; }

.answer-enter {
  transform: translateX(-100%); }

.answer-enter.answer-enter-active {
  transform: translateX(0);
  transition: transform 3s ease-out; }
