.chillFBImg {
  width: 700px;
  height: 400px;
  background-image: url(../img/chill.png);
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  margin-top: 0;
  font-size: 2em;
  text-align: left;
}
